<template>
  <div id="TestPage123">
    <h1>This is test123 page in only default theme</h1>
    <div class="ih-iz-child-component-container-nr-one">
      <component v-for="(component, index) in components"
        :key="index"
        :is="component.type"
        :component="component"
      />
    </div>
  </div>
</template>

<script>
  import WidgetLoader from '@/extensions/WidgetLoader'

  export default {
    name: 'TestPage123',
    props: [
      'json'
    ],
    data () {
      return {
        components: []
      }
    },
    created () {
      this.getComponents()
      this.$options.components = WidgetLoader.loadWidgets(this.components)
    },
    methods: {
      getComponents () {
        this.components = this.json.widgets
      }
    }
  }
</script>
