<template>
  <div id="TestPage">
    <h1>This is test page</h1>
    <div class="ih-iz-child-component-container-nr-one">
      <component v-for="(component, index) in components"
        :key="index"
        :is="component.type"
        :component="component"
      />
    </div>
  </div>
</template>

<script>
  import WidgetLoader from '@/extensions/WidgetLoader'
  import axios from '@/extensions/axios'

  export default {
    name: 'TestPage',
    props: [
      'json'
    ],
    data () {
      return {
        components: []
      }
    },
    created () {
      this.getComponents()
      this.testRequest()

      this.$options.components = WidgetLoader.loadWidgets(this.components)
    },
    methods: {
      getComponents () {
        this.components = this.json.widgets
      },
      testRequest () {
        console.log('Doing test post request to: ' + process.env.API_URL + 'post')
        axios.post('post', {test: 'data'})
          .then(response => {
            console.log('Request succeeded with response: ', response)
          })
          .catch(error => {
            console.log('Request failed with response: ', error)
          })
      }
    }
  }
</script>
